#app {
  height: 100%;
}
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  margin: 0;
}

/* .swiper-slide { */
/* text-align: center;
  font-size: 18px;
  background: #fff; */

/* Center slide text vertically */
/* display: flex;
  justify-content: center;
  align-items: center; */
/* } */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
} */

/* .swiper-slide {
  background-size: cover;
  background-position: center;
} */

.mySwiper2 {
  margin: 0;
}

/* .mySwiper {
  height: 18.55044rem;
  box-sizing: border-box;
  padding: 10px 0;
} */

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  /* padding-bottom: 5.37rem; */
}

.mySwiper .swiper-slide-active {
  opacity: 1;
}
/* @media only screen and (max-width: 1024px) {
  .mySwiper .swiper-slide {
    padding-bottom: 2.47rem;
  }
} */
/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}  */
