.swiper-pagination-progressbar {
  background: #edf5e6;
  margin-left: 1rem;
  padding-top: 0.5rem;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 1.94rem;
}
.swiper-pagination-progressbar > .swiper-pagination-progressbar-fill {
  background: #cde5c0;
  /* height: 0.5rem; */
  /* border-radius: 30px 0 0 30px; */
  /* border-radius: 20% 0 0 20%; */
}

@media only screen and (min-width: 640px) {
  .swiper-pagination-progressbar {
    display: none;
  }
}
